@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: "Raleway";
}
.title {
  width: 42%;
}
.title, .chart, .chart2, .concatList, .concat {
  margin: 10px auto;
}
.chart,
.chart2,
.concatList {
  background-color: rgb(51,51,51);
  width: 515px;
  padding: 15px;
  border-radius: 10px;
}
.chart div,
.chart2 div,
.concatList div {
  font-size: 12px;
  background-color: pink;
  text-align: right;
  padding: 2px 5px;
  margin: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.concat {
  background-color: rgb(104,190,230);
  width: 100px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}